.preview-image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
}
.preview-image-wrapper {
  display: flex;
  position: relative;
  background: white;
}
.preview-image-wrapper img {
  object-fit: contain;
  background: white;
  border: 1px solid rgb(1, 182, 245);
  border-radius: 100%;
}
.preview-image-btn-remove {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 10px !important;
  margin-bottom: 10px !important;
  font-size: 1.3rem;
}
