.preview-image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px 10px;
}
.preview-image-wrapper {
  display: flex;
  border: 1px solid rgb(1, 182, 245);
  padding: 10px;
  border-radius: 10px;
  background: white;
}
.preview-image-wrapper img {
  object-fit: contain;
  background: white;
  border: 1px solid rgb(1, 182, 245);
  border-radius: 100%;
}
