{
  "bracketSpacing": true,
  "printWidth": 180,
  "singleQuote": false,
  "trailingComma": "none",
  "tabWidth": 2,
  "jsxBracketSameLine": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid"
}
