.container-create-integrants {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-create-integrants {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.section-create-integrants .section-create-integrants-input {
  padding: 0px 10px;
}
.section-create-integrants .section-create-integrants-btn-icon {
  margin-right: 10px;
  margin-bottom: 10px;
}
.section-create-integrants-add-more {
  padding: 0px 10px;
  text-align: center;
}
.section-create-integrants-add-more button {
  border: none;
  color: white;
  background: rgb(10 202 202);
  padding: 10px;
  outline: none;
  border-radius: 10px;
}
.section-create-integrants-add-more button:hover {
  background: rgb(8 220 220);
}
