.card-wrap {
  padding: 10px;
  min-width: 200px;
  max-width: 300px;
}
.card-container {
  padding: 10px;
  border: 1px solid rgb(0, 0, 0, 0.5);
  border-radius: 10px;
  background: rgb(235 237 100 / 38%);
}
.card-title {
  font-weight: bold;
}
.card-body {
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-body-content {
  text-align: center;
  padding: 0px 10px;
}
