.react-rainbow-admin-app_sidebar-container {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 68px);
  margin-top: 68px;
  background-color: #fff;
  z-index: 99999;
  padding-bottom: 14px;
  padding-top: 14px;
}

.react-rainbow-admin-app_sidebar {
  width: 88px;
  height: 100%;
  border-right: 1px solid #f4f6f9;
  overflow-y: auto;
  flex-grow: 1;
}

.react-rainbow-admin-app_router-container {
  padding-top: 68px;
  padding-left: 88px;
  background-color: #f4f6f9;
  min-height: 100vh;
}

.react-rainbow-admin-app_sidebar-item {
  margin-bottom: 16px;
}

.react-rainbow-admin-app_sidebar-back-button-container {
  display: none;
}

@media (max-width: 600px) {
  .react-rainbow-admin-app_sidebar-container {
    height: 100vh;
    margin-top: 0;
    transform: translateX(0%);
    transition: transform 230ms linear, opacity 230ms linear;
  }

  .react-rainbow-admin-app_router-container {
    padding-top: 116px;
    padding-left: 0;
  }

  .react-rainbow-admin-app_sidebar-container--sidebar-hidden {
    transform: translateX(-100%);
    transition: transform 250ms linear, opacity 250ms linear;
  }

  .react-rainbow-admin-app_sidebar-back-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-grow: 2;
    align-items: flex-end;
    padding-top: 12px;
  }

  .react-rainbow-admin-app_sidebar-back-button-icon {
    color: #000;
  }

  .react-rainbow-admin-app_backdrop {
    display: unset;
    width: 100vw;
    height: 100vh;
    background-color: rgba(82, 95, 127, 0.4);
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
  }
}
/* Custom css */
.button-icon-little-danger {
  border: 0;
  border-radius: 50%;
  background: red;
  color: white;
  width: 25px;
  height: 25px;
  margin-left: 10px;
}
.breadcrumbs-with-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.breadcrumbs-with-button .btn-right-breadcrumb {
  margin-right: 10px;
  border: 0;
  border-radius: 5px;
  background: rgb(1 182 245);
  padding: 5px 10px;
  color: white;
}
.breadcrumbs-with-button .btn-right-breadcrumb:hover {
  background: rgb(1 182 245 / 77%);
}
.breadcrumbs-with-button .btn-right-breadcrumb:active {
  background: rgb(3 156 210);
}
.breadcrumbs-with-button .btn-right-breadcrumb svg {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  fill: white;
}
.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.display-content-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
}
.display-content-screen-cover {
  max-width: 400px;
  height: auto;
}
.display-content-screen-title {
  padding: 10px 0px;
  font-size: 1.3rem;
}
.container-file-selector {
  max-width: 250px;
  margin: 10px auto;
  min-width: 130px;
}
tr,
input,
textarea {
  background: rgb(245, 246, 247);
  font-size: 14px;
  padding: 12px;
  border-color: rgba(0, 0, 0, 0.07) rgba(0, 0, 0, 0.11) rgba(0, 0, 0, 0.18);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  bottom: -1px;
  line-height: 18px;
  outline: none;
}
tr:focus,
input:focus,
textarea:focus {
  border-color: rgba(0, 0, 0, 0.7) rgba(0, 0, 0, 1.1) rgba(0, 0, 0, 1.8);
}
.false-link {
  text-decoration-line: underline;
  text-decoration-color: coral;
  color: rgb(255 127 80);
  cursor: pointer;
}
.container-breadcrums-floated {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 20px;
  margin-top: 10px;
}
