.card-link-wrapper {
  margin: 10px;
}
.card-link-container {
  display: block;
  padding: 10px 20px;
  background: rgb(50, 38, 56);
  min-height: 130px;
  text-decoration: none;
  color: white;
  text-align: center;
  background-size: cover;
}
.card-link-container:hover {
  transition: 0.3s;
  transform: scale(1.05);
}
.card-link-title {
  font-size: 1.1rem;
  font-weight: bold;
  font-style: normal;
}
.card-link-desc {
  font-weight: 100;
  font-size: 0.95rem;
}
